//color
$white: #ffffff;
$lightGrey: #F8F8F9;
$midGrey : #808080;
$darkGrey: #696969;

$midRed: #FF2C4E;

$midGreen: #76BF2A;

$midBlue: #1B79E5;

//font size
$text-4xl: 4rem;
$text-3xl: 3rem;
$text-2xl: 2.5rem;
$text-xl: 1.6rem;
$text-lg: 1.25rem;
$text-sm: 0.938rem;
$text-xs: 0.813rem;

//font weight
$font-bold: 700;
$font-semibold: 400;
$font-medium: 300;