@import url('https://fonts.cdnfonts.com/css/montserrat');

@import 'reset';
@import 'variables';
@import 'mixins';

html, body {
  --moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  background-color: $lightGrey;
  color: #000000;
  font-size: $text-sm;
  overflow-x: hidden;
}

image {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $darkGrey;

  &:hover {
    opacity: .8;
    cursor: pointer;
  }
}

input {
  border: 1px solid $midGrey;
  height: 40px;
  padding: 0 10px;
  border-radius: 10px;

  &:focus {
    border: 1px solid $midBlue;
    outline: none;
    box-shadow: 0 0 0 2px #e7f3ff;
  }
}

.input {
  &--xl {
    height: 52px;
    padding: 0 12px;
  }
}

button {
  height: 40px;
  border: none;
  border-radius: 10px;
}

.btn {
  font-weight: $font-bold;

  &:hover {
    cursor: pointer;
    opacity: .8;
  }

  &--blue {
    background-color: $midBlue;
    color: $white;
  }

  &--red {
    background-color: $midRed;
    color: $white;
  }

  &--green {
    background-color: $midGreen;
    color: $white;
  }


  &--xl {
    font-size: $text-sm;
    height: 52px;
  }
}